{% extends 'layout.html' %}
{% block content %}
<!-- <div class="container">
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <br>
        <button type="submit">Register</button>
    </form>
    <br>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div> -->
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="no-border">
            <h2 class="text-center">Join now!</h2>
            <br>
            <div class="form-group">
                {{ form.username.label(class="form-control-label text-m")}}
                {{ form.username(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label text-m")}}
                {{ form.email(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label text-m")}}
                {{ form.password(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label text-m")}}
                {{ form.confirm_password(class="form-control")}}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-center")}}
        </div>
    </form>
    <br>
    <div class="text-center">
        <small>
            Already Have An Acount? <a href="{{ url_for('login') }}">Sign in</a>
        </small>
    </div>
</div>
{% endblock %}