{% extends 'layout.html'%}
{% block content %}
<div class="container posts-container container-xlarger-width">
    <br>
    <br>
    <div class="posts">
        <h1 class="font-family-monospace text-left">Posts by {{user.username}} ({{posts.total}})</h1>
        {% for post in posts.items %}
        <div class="post-container">
            <p class="date-time">by <a href="#">{{post.author.username}}</a> on {{post.date_posted.strftime("%d-%m-%Y")}}</p>
            <h2 class="text-left"><a href="{{ url_for('post',post_id=post.id)}}">{{post.title}}</a></h2>
            <p class="posts-content text-m">{{post.content}}</p>
        </div>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=1) %}
            {% if page_num %}
            {% if posts.page == page_num %}
                <a class="pagination-links pagination-links-current" href="{{ url_for('user_posts',username=user.username,page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="pagination-links" href="{{ url_for('user_post',username=user.username,page=page_num)}}">{{page_num}}</a>
            {% endif%}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}